git+https://github.com/wazo-pbx/wazo-agentd-client.git
git+https://github.com/wazo-pbx/wazo-auth-client.git
git+https://github.com/wazo-pbx/wazo-confd-client.git
git+https://github.com/wazo-pbx/xivo-dao.git
git+https://github.com/wazo-pbx/wazo-dird-client.git
git+https://github.com/wazo-pbx/xivo-lib-python.git
git+https://github.com/wazo-pbx/xivo-lib-rest-client.git
jinja2==2.10.1
psycopg2==2.6.2
pytz==2016.7
pyyaml==3.12  # from xivo-lib-python
requests==2.21.0
sqlalchemy==1.0.15  # from xivo-dao
stevedore==1.17.1  # from xivo-lib-rest-client
unidecode==0.04.19
