flask==0.10.1  # from xivo-lib-python
git+https://github.com/xivo-pbx/xivo-agentd-client.git
git+https://github.com/xivo-pbx/xivo-auth-client.git
git+https://github.com/xivo-pbx/xivo-dao.git
git+https://github.com/xivo-pbx/xivo-dird-client.git
git+https://github.com/xivo-pbx/xivo-lib-python.git
git+https://github.com/xivo-pbx/xivo-lib-rest-client.git
git+https://github.com/xivo-pbx/xivo-provd-client.git
psycopg2==2.5.4
pytz
pyyaml==3.11
requests==2.4.3
sqlalchemy==0.9.8
stevedore==0.14.1
