docker
docker-compose
sqlalchemy==1.2.18
pytest
psycopg2-binary

https://github.com/wazo-platform/xivo-dao/archive/master.zip
https://github.com/wazo-platform/xivo-lib-python/archive/master.zip
https://github.com/wazo-platform/xivo-test-helpers/archive/master.zip
