psycopg2-binary
pyhamcrest
pytest
pyyaml  # from xivo-lib-python
sqlalchemy==1.2.18

https://github.com/wazo-platform/xivo-dao/archive/master.zip
https://github.com/wazo-platform/xivo-lib-python/archive/master.zip
https://github.com/wazo-platform/wazo-test-helpers/archive/master.zip
