Source: wazo-agid
Section: python
Priority: extra
Maintainer: Wazo Maintainers <dev@wazo.community>
Build-Depends: debhelper (>= 9), dh-python, dh-systemd (>= 1.5), python-all (>= 2.7), python-setuptools
Standards-Version: 3.9.6
X-Python-Version: >= 2.7

Package: wazo-agid
Architecture: all
Section: python
Depends: ${python:Depends},
         ${misc:Depends},
         python3,
         adduser,
         asterisk | asterisk-virtual,
         python-jinja2,
         python-tz,
         python-unidecode,
         rename,
         wazo-agentd-client,
         wazo-auth-client,
         wazo-confd-client,
         wazo-confd-client-python3,
         wazo-dird-client,
         xivo-lib-python,
         xivo-libdao
Provides: xivo-agid
Conflicts: xivo-utils (<= 18.09~20180808.174753.0834260.deb9), xivo-agid
Replaces: xivo-agid
Description: Wazo AGI Daemon
 Wazo is a system based on a powerful IPBX, to bring an easy to
 install solution for telephony and related services.
 .
 This is the AGI Daemon
 .
