[Unit]
Description=wazo-agid server
ConditionPathExists=!/var/lib/wazo/disabled
After=network.target postgresql.service
Before=monit.service

[Service]
Type=forking
ExecStartPre=/usr/bin/install -d -o wazo-agid -g wazo-agid /var/run/wazo-agid
ExecStart=/usr/bin/wazo-agid
PIDFile=/var/run/wazo-agid/wazo-agid.pid

[Install]
WantedBy=multi-user.target
