[Unit]
Description=wazo-agid server
ConditionPathExists=!/var/lib/wazo/disabled
After=network.target postgresql.service
StartLimitBurst=15
StartLimitIntervalSec=150

[Service]
ExecStart=/usr/bin/wazo-agid
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
