[Unit]
Description=xivo-agid server
ConditionPathExists=!/var/lib/xivo/disabled
After=network.target postgresql.service
Before=monit.service
Wants=postgresql.service

[Service]
Type=forking
ExecStart=/usr/sbin/xivo-agid
PIDFile=/var/run/xivo-agid.pid

[Install]
WantedBy=multi-user.target
