[Unit]
Description=xivo-agid server
ConditionPathExists=!/var/lib/wazo/disabled
After=network.target postgresql.service
Before=monit.service

[Service]
Type=forking
ExecStartPre=/usr/bin/install -d -o xivo-agid -g xivo-agid /var/run/xivo-agid
ExecStart=/usr/bin/xivo-agid
PIDFile=/var/run/xivo-agid/xivo-agid.pid

[Install]
WantedBy=multi-user.target
